@page "/Members/Loan/Installments/AddEdit/{LoanId:int}/{InstallmentId:int}"
@page "/Members/Loan/Installments/AddEdit/{LoanId:int}"
@using MehrLoanFund2.Utilities


<AuthorizeView>
    <Authorized>
        <EditForm Model="InstallmentDto" OnValidSubmit="SubmitForm">
            <ChildContent Context="editContext">
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                @ErrorMessage
                            </div>
                        </div>
                    </div>
                }
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label">
                                حق عضویت
                            </label>
                            <InputNumber @bind-Value="InstallmentDto.MemberShipFee" class="form-control"></InputNumber>
                            <ValidationMessage For="() => InstallmentDto.MemberShipFee"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label">
                                مبلغ قسط
                            </label>
                            <InputNumber @bind-Value="InstallmentDto.MonthlyPayment" class="form-control"></InputNumber>
                            <ValidationMessage For="() => InstallmentDto.MonthlyPayment"></ValidationMessage>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label">
                                تاریخ پرداخت
                            </label>


                            <MudDatePicker Label="Persian" @bind-Date="InstallmentDto.PaymentDate" Culture="@Utility.GetPersianCulture()" DateFormat="dd/MM/yyyy" UseShortNames="false" TitleDateFormat="dddd, dd MMMM" />

                            <ValidationMessage For="() => InstallmentDto.PaymentDate"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success float-end">
                            <i class="fas fa-check"></i>
                            ثبت
                        </button>
                        <a href="members/Loan/Installments/@LoanId" class="btn btn-warning float-end mx-2">
                            <i class="fas fa-ban"></i>
                            انصراف
                        </a>
                    </div>
                </div>
            </ChildContent>
        </EditForm>
    </Authorized>
</AuthorizeView>